@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Merienda&display=swap');

:root{
	--background: #F5FBF4;
	--primary-light: #CBE9CA;
	--primary: #2DA629;
	--primary-dark: #227D1F;
	--sec-light: #CBA5CB;
	--secundary: #7D1F7C;
	--sec-dark: #5E175D;
}

*::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
}
  
*::-webkit-scrollbar-track {
	background: var(--background);        /* color of the tracking area */
	padding: 2px;
}
  
*::-webkit-scrollbar-thumb {
	background-color: var(--primary-dark); /* color of the scroll thumb */
	border-radius: 20px;
}

*{
	font-family: 'Comfortaa', sans-serif;
/*font-family: 'Merienda', cursive; logo e titulos*/
}

p, h2, h4, ul,  [class^="col"], [class*=" col"]{
	margin: 0;
	padding: 0;
}

.logo{
	height: 2.5rem;
}

.pesquisa{
	background: var(--primary-dark) !important;
}

.burger{
	border: none !important;
}

.offcanvas{
	background: var(--primary) !important;
}

.offcanvas-header{
	border-bottom: solid 2px var(--background);
}

.offcanvas, .pesquisa, .burger, .nav-link, .fechar{
	color: var(--background) !important;
}

.nav-link:hover{
	font-weight: bold;
}

.usuario{
	padding-left: 1rem !important;
	border-left: solid 2px var(--background) !important;
}

.cart{
	padding-right: 1rem !important;
}

.promoimg{
	height: 40vh;
}

.preco{
	color: var(--primary);
}

.avalia{
	color: var(--sec-dark);
}

.receitaSection{
	background-color: var(--sec-dark);
}

.cursivo{
	font-family: 'Merienda', cursive;
}

.imagem{
	background-image: url(../img/panqueca.jpg);
	background-position: center;
	background-size: cover;
	width: 95%;
	height: 60vh;
	box-shadow: 0px 76px 28px 0px rgba(0, 0, 0, 0.50) inset;
}

.ponta{
	scale: 3;
	overflow: visible !important;
}